/*
STYLES ARE ORGANIZED BY SECTIONS: GLOBALS, WRAPPER DIV, HEADER, NAV, MAIN, MAIN.COLUMNS, FOOTER, MEDIA QUERIES. ALL INITIAL STYLES ARE DONE WITH A MOBILE FIRST APPROACH, MEDIA QUERIES CAN BE FOUND AFTER THE INITIAL STYLES SECTION OF FOOTER NEAR BOTTOM OF DOCUMENT
*/
/*
////////////////////////////////////////////////////////////////
  GLOBALS | THESE STYLES FOCUS ON STYLES FOR THE ENTIRE DOCUMENT
///////////////////////////////////////////////////////////////
*/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

/*////////////////////////////////////////////////////////////////////
WRAPPER | IS THE MAIN DIV THAT WRAPS ALL CONTENT EXCLUDING THE FOOTER
////////////////////////////////////////////////////////////////////*/
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

.wrapper:after {
  content: "";
  display: block;
}

.wrapper {
  font-family: "Open Sans", sans-serif;
}

/*///////////////////////////////////////////////////////////////
HEADER | THESE STYLES ARE FOR THE HEADER AND CHILDREN OF HEADER
//////////////////////////////////////////////////////////////*/
header {
  background: #4CB8C4;
  /* fallback for old browsers */
  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
  color: #FFF;
  text-align: center;
}
header .logo {
  height: 100px;
  width: 100px;
  margin: 10px;
  -webkit-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
}
header .title-header {
  font-size: 1.55em;
  font-weight: 300;
  padding-bottom: 10px;
  margin: 0;
  -webkit-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
}
header .title-header a {
  text-decoration: none;
  color: inherit;
}
header .bold {
  font-weight: 700;
  font-style: italic;
}

/*////////////////////////////////////////////////////////////////////////////////////////
NAV | THESE STYLES ARE FOR THE NAV SECTION, FLEX DISPLAY PROPERTIES ADDED IN MEDIA QUERIES SECTION TOWARD END OF STYLE SHEET
////////////////////////////////////////////////////////////////////////////////////////*/
nav {
  color: #2f4f4f;
}
nav ul {
  border-bottom: solid 3px #4CB8C4;
  list-style: none;
  margin: 0 0 15px 0;
  padding: 15px 0 15px;
  text-align: center;
  font-size: 1.35em;
}
nav ul li a {
  text-decoration: none;
  color: #2f4f4f;
  transition: font-weight 0.08s;
}
nav ul a:hover {
  font-weight: 600;
}
nav ul .active {
  font-weight: 600;
}

/*/////////////////////////////////////////////////////////////////////////
MAIN | MAIN WRAPS THE MAIN CONTENT BELOW THE HEADER AND NAV SECTION
////////////////////////////////////////////////////////////////////////*/
main {
  margin: 0 10%;
}
main h1 {
  font-size: 1.30em;
}
main p {
  font-size: 1.10em;
  padding-bottom: 20px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////
COLUMNS | CLASS ADDED TO THE MAIN ELEMENT OF HOME PAGE WITH SPECIFIC STYLING FOR COLUMNS STRUCTURE, FLEX DISPLAY PROPERTIES ADDED IN MEDIA QUERIES SECTION TO ACHIEVE COLUMN LAYOUT, THIS SECTION INCLUDES CHILDREN OF COLUMNS CLASS
///////////////////////////////////////////////////////////////////////////////////////*/
.columns {
  text-align: center;
  margin: 0 7%;
}
.columns a {
  text-decoration: none;
  color: #2f4f4f;
}
.columns p {
  font-size: 1rem;
  margin: 15px;
  padding-bottom: 15px;
}
.columns .sub-header {
  font-size: 1.30rem;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: font-weight 0.08s;
}
.columns .small-tour-image {
  height: 200px;
  width: 200px;
  -webkit-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.7));
}
.columns .col {
  margin-bottom: 10px;
}
.columns .col-1 {
  border: solid 1px #FFCDC9;
  border-radius: 1em;
  color: #2f4f4f;
  padding: 3px;
  transition: border 0.08s, padding 0.08s;
}
.columns .col-2 {
  border: solid 1px #CC5A78;
  border-radius: 1em;
  color: #2f4f4f;
  padding: 3px;
  transition: border 0.08s, padding 0.08s;
}
.columns .col-3 {
  border: solid 1px #3CD3AD;
  border-radius: 1em;
  color: #2f4f4f;
  padding: 3px;
  transition: border 0.08s, padding 0.08s;
}
.columns .col-1:hover {
  border: solid 4px #FFCDC9;
  padding: 0;
}
.columns .col-1:hover .sub-header {
  font-weight: 600;
}
.columns .col-2:hover {
  border: solid 4px #CC5A78;
  padding: 0;
}
.columns .col-2:hover .sub-header {
  font-weight: 600;
}
.columns .col-3:hover {
  border: solid 4px #3CD3AD;
  padding: 0;
}
.columns .col-3:hover .sub-header {
  font-weight: 600;
}

/*////////////////////////////////////////
FOOTER | THESE STYLES ARE FOR THE FOOTER
///////////////////////////////////////*/
footer {
  background-color: #4CB8C4;
  color: #FFF;
  font-size: .75em;
  height: 50px;
}
footer p {
  padding: 5px 0 0 5px;
}

footer, .wrapper:after {
  height: 50px;
}

@media (min-width: 768px) {
  /*HEADER*/
  header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  header .title-header {
    font-size: 3em;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding-top: 25px;
  }
  header .logo {
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
  }

  /*NAV*/
  nav {
    padding: 0;
  }
  nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
  }
  nav li {
    margin: 20px;
  }

  /*MAIN*/
  main {
    font-size: 1.55em;
  }
  main p {
    font-size: 1.30rem;
  }

  /*COLUMNS*/
  .columns {
    margin: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 5px;
  }
  .columns .col {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
  }
}
