/*VARIABLES*/

$primary-color: #157899;
$secondary-color: #4CB8C4;
$landmark-color: #3CD3AD;
$downtown-color: #FFCDC9;
$growth-color: #CC5A78;
$text-color: #FFF;
$dark-color: #2f4f4f;
$column-border-radius: 0.75em;
$open-sans: 'Open Sans', sans-serif;
$bold: 600;
$normal: 300;
$trans: .15s;
$drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));

/*MIXINS*/

@mixin col-styling($color) {
  border: solid 1px $color;
  border-radius: $column-border-radius;
  color: $dark-color;
  padding: 3px;
  transition: border $trans, padding $trans;
}
@mixin col-hover($color) {
  border: solid 4px $color;
  padding: 0;
  .sub-header{
    font-weight: $bold;
  }
}

/*
STYLES ARE ORGANIZED BY SECTIONS: GLOBALS, WRAPPER DIV, HEADER, NAV, MAIN, COLUMNS,
FOOTER, MEDIA QUERIES. ALL INITIAL STYLES ARE DONE WITH A MOBILE FIRST APPROACH, MEDIA
QUERIES CAN BE FOUND AFTER THE INITIAL STYLES SECTION OF FOOTER NEAR BOTTOM OF DOCUMENT
*/

/*
////////////////////////////////////////////////////////////////
  GLOBALS | THESE STYLES FOCUS ON STYLES FOR THE ENTIRE DOCUMENT
///////////////////////////////////////////////////////////////
*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.clear {
  clear: both;
}

/*////////////////////////////////////////////////////////////////////
WRAPPER | IS THE MAIN DIV THAT WRAPS ALL CONTENT EXCLUDING THE FOOTER
////////////////////////////////////////////////////////////////////*/

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.wrapper:after {
  content: "";
  display: block;
}

.wrapper {
  font-family: $open-sans;
}

/*///////////////////////////////////////////////////////////////
HEADER | THESE STYLES ARE FOR THE HEADER AND CHILDREN OF HEADER
//////////////////////////////////////////////////////////////*/

header {
  background: $secondary-color; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $secondary-color, $landmark-color);
  background: linear-gradient(to left, $secondary-color, $landmark-color);
  color: $text-color;
  text-align: center;
  .logo {
    height: 100px;
    width: 100px;
    margin: 10px;
    filter: $drop-shadow;
  }
  .title-header {
    font-size: 1.55em;
    font-weight: $normal;
    padding-bottom: 10px;
    margin: 0;
    filter: $drop-shadow;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .bold {
    font-weight: 700;
    font-style: italic;
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////
NAV | THESE STYLES ARE FOR THE NAV SECTION, FLEX DISPLAY PROPERTIES ADDED IN MEDIA QUERIES
SECTION TOWARD END OF STYLE SHEET
////////////////////////////////////////////////////////////////////////////////////////*/

nav {
  color: $dark-color;
  ul {
    border-bottom: solid 3px $secondary-color;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 15px 0 15px;
    text-align: center;
    font-size: 1.20em;
    li a {
      text-decoration: none;
      color: $dark-color;
      font-weight: $normal;
      transition: font-weight $trans;
    }
    a:hover {
      font-weight: $bold;
    }
    .active {
      font-weight: $bold;
      transition: font-weight $trans;
    }
  }
}

/*/////////////////////////////////////////////////////////////////////////
MAIN | MAIN WRAPS THE MAIN CONTENT BELOW THE HEADER AND NAV, SECTION INCLUDES CLASSES ON MAIN FOR DIFFERENT PAGES
////////////////////////////////////////////////////////////////////////*/

main {
  margin: 0 10%;
  h1 {
    font-size: 1.30em;
  }
  p {
    font-size: 1.10em;
    padding-bottom: 20px;
  }
  label, input {
    text-align: left;
  }
}
.main {
  @include col-styling($secondary-color);
  margin-bottom: 15px;
  text-align: center;
  h1 {
    padding: 15px;
  }
  p {
    text-align: left;
    padding: 15px;
    font-weight: $normal;
  }
  img {
    filter: $drop-shadow sepia(5%);
    margin-top: 10px;
    height: 200px;
    width: 250px;
  }
}
.registration {
  margin: 0 5%;
  margin-bottom: 10%;
  padding-bottom: 20px;
  // height: 100vh;
  font-size: .75rem;
  text-align: left;
  h1 {
    text-align: center;
  }
  form {
    margin: 5px;
  }
  .radio {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
  }
  label {
    display: block;
    float: left;
    width: 10em;
    padding-right: 5px;
  }
  input {
    display: block;
    margin-bottom: 1em;
  }
  textarea {
    display: block;
    margin-left: 10.5em;
    margin-bottom: 1em;
  }
  .comment-label {
    width: 20em;
    float: none;
  }
  .tour-label {
    float: none;
    margin-bottom: 10px;
  }
  button {
    background-color: $landmark-color;
    color: #fff;
    padding: 5px;
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////
COLUMNS | CLASS ADDED TO THE MAIN ELEMENT OF HOME PAGE WITH SPECIFIC STYLING FOR COLUMNS
STRUCTURE, FLEX DISPLAY PROPERTIES ADDED IN MEDIA QUERIES SECTION TO ACHIEVE COLUMN LAYOUT,
THIS SECTION INCLUDES CHILDREN OF COLUMNS CLASS
///////////////////////////////////////////////////////////////////////////////////////*/

.columns {
  text-align: center;
  margin: 0 7%;
  a {
    text-decoration: none;
    color: $dark-color;
  }
  p {
    font-size: 1rem;
    font-weight: $normal;
    margin: 15px;
    padding-bottom: 15px;
  }
  .sub-header {
    font-size: 1.20rem;
    font-weight: $normal;
    padding-top: 15px;
    padding-bottom: 10px;
    transition: font-weight $trans;
  }
  .small-tour-image {
    height: 200px;
    width: 200px;
    filter: $drop-shadow sepia(5%);
    border-bottom: solid 1px $dark-color;
    padding-bottom: 20px;
  }
  .col {
    margin-bottom: 10px;
    p {
      text-align: left;
      margin-left: 10%;
    }
    blockquote {
      padding: 10px;
      text-align: left;
      margin-left: 5%;
      margin-bottom: 25px;
    }
  }
  .col-1 {
    @include col-styling($downtown-color);
  }
  .col-2 {
    @include col-styling($growth-color);
  }
  .col-3 {
    @include col-styling($landmark-color);
  }
  .col-1:hover {
    @include col-hover($downtown-color);
  }
  .col-2:hover {
    @include col-hover($growth-color);
  }
  .col-3:hover {
    @include col-hover($landmark-color);
  }
}

/*////////////////////////////////////////
FOOTER | THESE STYLES ARE FOR THE FOOTER
///////////////////////////////////////*/

footer {
  background-color: $secondary-color;
  color: $text-color;
  font-size: .75em;
  height: 50px;
  p {
    padding: 5px 0 0 5px;
  }
}

footer, .wrapper:after {
  height: 50px;
}

@media (min-width: 480px) {
  .registration {
    font-size: 1rem;
    form {
      margin: 0 10%;
    }
  }
}

@media (min-width: 768px) {
/*HEADER*/
  header {
    display: flex;
    .title-header {
      font-size: 3em;
      flex: 2;
      padding-top: 25px;
    }
    .logo {
      flex: initial;
    }
  }
/*NAV*/
  nav {
    padding: 0;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
    }
    li {
      margin: 20px;
    }
  }
/*MAIN*/
  main {
    font-size: 1.55em;
    p {
      font-size: 1.30rem;
    }
  }
  .main {
    img {
      height: 300px;
      width: 500px;
      margin-top: 15px;
    }
    p {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .registration {
    width: 70%;
    margin-left: 15%;
    form {
      margin: 0 15%;
    }
    textarea {
      margin-left: 10.5em;
    }
  }
/*COLUMNS*/
  .columns {
    margin:30px;
    display:flex;
    flex-direction:row;
    padding:5px;
    .col {
      flex:1 1 auto;
      text-align:center;
      margin: 5px;
      p {
        font-size: 1rem;
      }
      blockquote {
        font-size: 1rem;
      }
    }
  }
}
@media (min-width: 1080px) {
  .registration {
    width: 50%;
    margin-left: 25%;
  }
}
